---
layout: index-layout
title: Hjem
---

<div class="row">
  <div class="col-md-8">
    {% for post in site.posts limit:1 %}
    <div class="card mb-4 overflow-hidden border-0" style="height: 466px;">
      {% if post.d3chartPlaceholder %}
      <div class="chart-container overflow-hidden rounded">
        <div class="d3-chart-placeholder" id=" {{ post.d3chartPlaceholder }}" data-type="{{ post.d3chartType }}">
        </div>
      </div>
      {% else %}
      <div class="chart-container overflow-hidden rounded">
        <img src="https://placekitten.com/640/360" class="img-fluid">
      </div>
      {% endif %}

      <div class="card-body px-0">
        <h3 class="card-title m-0"><a href="{{ post.url | prepend: site.baseurl }}" class="x-stretched-link">{{
            post.title }}</a></h3>
        <p class="text-muted mt-0"><small>{{ post.date | date: "%B %-d, %Y" }}</small></p>
        <p>{{ post.intro }}</p>
        <!-- <p><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary x-stretched-link">Read more</a>
        </p> -->
        {% assign tags = post.tag | split: ', ' %}
        <ul class="list-inline mb-0">
          {% for t in tags %}
          <li class="list-inline-item"><span class="btn btn-sm btn-outline-warning">{{ t }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}

    <div class="row">
      {% for post in site.posts offset:1 limit:6 %}

      <div class="col-sm-6 mb-4">
        <div class="card h-100 border-0">
          <div class="overflow-hidden rounded d-flex align-items-center justify-content-start bg-light" style="height: 233px;">
            {% if post.d3chartPlaceholder %}
            <div class="chart-container overflow-hidden rounded">
              <div class="d3-chart-placeholder" id=" {{ post.d3chartPlaceholder }}" data-type="{{ post.d3chartType }}">
              </div>
            </div>
            {% else %}
            <div class="chart-container overflow-hidden rounded h-100">
              <img src="https://placekitten.com/640/360" class="img-fluid h-100">
            </div>
            {% endif %}
          </div>
          <div class="card-body d-flex flex-column px-0">
            <div class="flex-grow-1">
              <h3 class="card-title m-0"><a href="{{ post.url | prepend: site.baseurl }}" class="x-stretched-link">{{
                  post.title }}</a></h3>
              <p class="text-muted mt-0"><small>{{ post.date | date: "%B %-d, %Y" }}</small></p>
              {{ post.excerpt }}
            </div>

            {% assign tags = post.tag | split: ', ' %}
            <ul class="list-inline mb-0">
              {% for t in tags %}
              <li class="list-inline-item"><span class="btn btn-sm btn-outline-warning">{{ t }}</span></li>
              {% endfor %}
            </ul>
          </div>
          </div>
      </div>

      {% endfor %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="sticky-top-sidebar mb-4">
      <div class="card mb-4 border-0 bg-light">
        <div class="card-body d-flex flex-column">
          <p class="fw-bold lh-1 my-3 text-nowrap mt-0">Om os</p>
          <p class="fs-5 lh-1 text-muted">
            <small>Imargin er en blog der med simple visualiseringer gør dig klogere på din digitale hverdag og dens den påvirkning på dig. 
            Vi har ingen reklamer og lever udelukkende af den internetkærlighed som vores følgere giver os. Bliv en del af fællesskabet ved at tilmelde dig vores nyhedsbrev.
            Så sender vi en masse god karma samt en månedlig opdatering om vores blog.    
            </small>
          </p>
          
            <form
            action="https://login.sendpulse.com/forms/simple/u/eyJ1c2VyX2lkIjo4MDc1NzgyLCJhZGRyZXNzX2Jvb2tfaWQiOjM3MjkyMiwibGFuZyI6ImVuIn0="
            method="post">
            <!-- <label>Navn</label>
            <input type="text" name="name"> -->
            <div class="row">
              <div class="col-md-8">
                <label class="visually-hidden">Email</label>
                <input type="email" required name="email" placeholder="Tilmeld nyhedsbrev" class="form-control mb-3 mb-md-0">
              </div>
              <div class="col-md-4 d-grid d-md-flex mb-5 mb-md-0">
                <input type="hidden" name="sender" value="hej@imargin.dk">
                <button class="btn btn-primary">Tilmeld</button>
              </div>
            </div>
          </form>
        </br>
        
            <!-- </p>
            <div class="d-grid">
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Tilmeld nyhedsbrev</button>
            </div>
          
          <p class="fs-5 lh-1 text-muted"> -->
          <p class="fs-5 lh-1 text-muted">
            <small>
            Hvis du kan lide hvad vi laver så del os med alle dine internetvenner er: 
          </small>
        </p>
            {% include share.html %}
          <p class="fs-5 lh-1 text-muted">
            <small>
              Vil du læse mere om vores blog kan du læse både <a href="/page/"><mark>om</mark></a> og <a href="/about/"><mark>os</mark></a>.
              <br/> 
              Vi vil også meget gerne høre hvad du synes  bloggen - så send en mail
            </small>


        </div>
      </div>
    </div>
  </div>

</div>