<footer class="py-2 bg-dark text-center">
  <div class="container">
    <p class="m-0 text-white w-100"><small>Copyright &copy; {{ site.time | date: '%Y' }}</small></p>
  </div>
  <ul class="p-0 footer-links">
    {% for entry in site.data.social %}
    <li>
      <a href="{{ entry.link }}" class="btn btn-link btn-lg p-0"><span class="{{ entry.icon }}">
        </span></a>
    </li>
    {% endfor %}
  </ul>
</footer>
<script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<script type="module" src="{{ "/js/d3-module.js" | prepend: site.baseurl }}"></script>