<footer class="py-2 bg-dark text-center">
  <div class="container">
    <p class="m-0 text-white w-100"><small>Copyright &copy; {{ site.time | date: '%Y' }}</small></p>
  </div>
  <ul class="p-0 footer-links">
    {% for entry in site.data.social %}
    <li>
      <a href="{{ entry.link }}" class="btn btn-link btn-lg p-0"><span class="{{ entry.icon }}">
        </span></a>
    </li>
    {% endfor %}
  </ul>
</footer>
<script type="text/javascript" src="{{ "/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<script type="module" src="{{ "/js/d3-module.js" | prepend: site.baseurl }}"></script>
<!-- sendpulse -->
<script src="//web.webformscr.com/apps/fc3/build/loader.js" async sp-form-id="072788b4618237714e8549effcc610f58987c49df489461745eb62185bd9782d"></script>
<script src="//web.webformscr.com/apps/fc3/build/loader.js" async sp-form-id="adf696a7b888a6b182fc46dd096fb541ecbfd2a5a73cb2f1e703403fff1dc110"></script>
<script type="text/javascript" async="async" src="//web.webformscr.com/apps/fc3/build/default-handler.js?1653643444289"></script> 
<script type="text/javascript" async="async" src="//web.webformscr.com/apps/fc3/build/default-handler.js?1653643444289"></script> 
 
 