<!--- Header and nav template site-wide -->
<nav class="navbar navbar-expand navbar-light">
	<div class="container">
		<a href="{{site.baseurl}}/"><img class="badge" src="{{site.baseurl}}/assets/img/badge_1.png" alt="CH"></a>

		{% for node in site.pages %}
		{% unless node.nav_exclude %}
		{% if page.url == node.url %}
		<a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a>
		{% else %}
		<a class="passive" href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
		{% endif %}
		{% endunless %}
		{% endfor %}
	</div>
</nav>
<div class="container">
	<div class="row align-items-center">
		<div class="col-md-4 text-center text-lg-start order-md-2">
			<h1 class="display-4 fw-bold lh-1 mb-3">
				Datadreven Blog
			</h1>
			<p class="fs-4 w-100">
				Noget mere tekst skal stå her
			</p>
		</div>
		<div class="col-md-4 offset-md-3 order-md-1 text-center">
			{% include D3/MagtensElite.html %}
		</div>
	</div>
</div>