<div class="container">
	<div class="card mb-4 bg-light border-0">
		<div class="card-body">
			<div class="row align-items-center">
				<div class="col-md-4 text-center text-md-start order-md-2">
					<h1 class="display-4 fw-bold lh-1 my-3 text-nowrap">
						Data<span class="text-primary">dreven</span><br />Blog
					</h1>
					<p class="fs-4 w-100">
						Noget mere tekst skal stå her
					</p>
				</div>
				<div class="col-md-4 offset-md-2 order-md-1 text-center d-none d-md-flex">
					{% include D3/MagtensElite.html %}
				</div>
			</div>
		</div>
	</div>
</div>