<section class="section-hero">
	<div class="container">
		<div class="card mb-4 bg-light border-0">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-md-6 text-center text-md-start order-md-2">
						<h1 class="display-6 fw-bold lh-1 my-3 text-nowrap">
							Data<span class="text-primary">drevne</span> fortællinger
						</h1>
						<p class="fs-4 w-100">
							En blog om teknologiens påvirkning af hverdagen, dens magt og rolle i skabelsen af vores fælles fremtid.
							<!-- Imargin er en blogsite der med simple visualiseringer giver dig et nyt perspektiv i vores urolige, skøre, sindsyge, fantasiske tid vi lever i.						 -->
						</p> 
						
					
						<div class="row">
							<div class="col-8">
								<form>
									<div class="form-group">
										<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tilmeld vores nyhedsbrev">
										
									</div>	
								</form>
							</div>	
							<div class="col">	
									<button class="btn btn-primary" type="button">Tilmeld</button>
							</div>			
						</div>			
									
									
					</div>
					<div class="col-md-6 order-md-1 text-center text-nowrap text-md-end">
						<!-- <div class="d3-chart-placeholder" id="observablehq-chart-ecf03241" data-type="disjointsmall"></div> -->
						<div class="d3-chart-placeholder" id="oobservablehq-chart-186a6605" data-type="disjoint"></div>
						<!-- <div class="d3-chart-placeholder" id="observablehq-chart-8b041057" data-type="disjoint"></div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>