<!--- Header and nav template site-wide -->
<div class="topnavbar fixed-top bg-white py-3">
	<div class="container">
		<header class="d-flex flex-wrap align-items-center justify-content-center">
			<a href="{{site.baseurl}}/"
				class="d-flex align-items-center me-md-auto text-dark text-decoration-none me-5">
				<span class="fs-2">Imargin</span>
				<img class="m-1" src="{{site.baseurl}}/assets/img/SmallIcon_QualiBright.svg" width="40" height="40">
			</a>

			<!-- <ul class="nav nav-pills justify-content-center justify-content-lg-start"> -->
			<ul class="nav justify-content-center justify-content-lg-start">
				{% for node in site.pages %}
				{% unless node.nav_exclude %}
				{% if page.url == node.url %}
				<li class="nav-item mt-0"><a href="{{node.url | prepend: site.baseurl}}" class="nav-link active"
						aria-current="page">{{node.title}}</a></li>
				{% else %}
				<li class="nav-item mt-0"><a href="{{node.url | prepend: site.baseurl}}"
						class="nav-link">{{node.title}}</a>
				</li>
				{% endif %}
				{% endunless %}
				{% endfor %}
			</ul>
		</header>
	</div>
</div>
<div class="position-fixed bottom-0 end-0">
	<img class="m-3" src="{{site.baseurl}}/assets/img/SmallIcon_QualiBright.svg" alt="Datadreven Blog" width="50"
		height="50" data-bs-toggle="modal" data-bs-target="#exampleModal">
</div>