// This file contains all the constants for colors and font styles (both tufte and bootstrap)

$body-font: "Source Serif Pro", serif;
// Note that Gill Sans is the top of the stack and corresponds to what is used in Tufte's books
// However, it is not a free font, so if it is not present on the computer that is viewing the webpage
// The free Google 'Lato' font is used instead. It is similar.
$sans-font: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$url-font: "Lucida Console", "Lucida Sans Typewriter", Monaco,
  "Bitstream Vera Sans Mono", monospace;
$text-color: #111;
$bg-color: white;
$contrast-color: #a00000;
$border-color: #333333;
$link-style: color; // choices are 'color' or 'underline'. Default is color using $contrast-color set above

$body-top-padding: 105px; // NOTE current top navbar height
$body-top-padding-md: 75px; // NOTE current top navbar height
$body-top-padding-lg: 85px; // NOTE current top navbar height

// NOTE: in order to override some Bootstrap variables, copy-paste a variable from _sass/bootstrap/_variables.scss file and update it's value, e.g. $primary: #ff88aa;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);
$primary: #1f77b4;
$warning: #ff7f0e;
$contrast-color: $warning;
$font-family-base: $body-font;
$headings-font-family: $body-font;
$headings-font-weight: 700;